<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Logitud - Ski ChampionShip</title>

    <link rel="icon" href="/Logitud_SkiChampionShip/assets/img/ico.png"/>
    <link rel="stylesheet" href="/Logitud_SkiChampionShip/assets/css/style.css"/>
<body>
    <div class="main h-100">
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
            <a class="navbar-brand" href="/Logitud_SkiChampionShip/">
                <img src="/Logitud_SkiChampionShip/assets/img/logitudLogo.png" alt="logitudLogo">
            </a>
        </nav>

        {% block body %}
            {% block AffichageEpreuve %}
            {% endblock %}
        {% endblock %}


        <footer>

        </footer>
    </div>
</body>
</html>