{% extends 'template/layout.html.twig' %}
{% block body %}
    <div class="container m-auto">
        <div class="row d-flex m-auto">
            <div class="col-12 text-center">
                <h1>Page not found</h1>
            <br/>
                <p>
                    The requested page couldn't be located. Checkout for any URL
                    misspelling or <a href="/Logitud_SkiChampionShip/">return to the homepage</a>.
                </p>
            </div>
        </div>
    </div>
{% endblock %}